@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500;900&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    // border: 1px solid #000;
    box-sizing: border-box;
    ::-moz-selection { /* Code for Firefox */
        background: #F1CE56 ;
      }
       
      ::selection {
        background: #F1CE56 ;
      }
      

    a {
        text-decoration: none;
    }
}

body {
    margin: 0;
    background-color: #d8d8d8;

    height: 1000px;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;
    // padding: 0px 5%;

    section.about_me {
        display: flex;

        background-color: #333;
        width: 100%;
        height: 100vh;

        @media (max-width:650px) {
            flex-direction: column;
            padding-left: 16px;
            padding-right: 16px;
        }

        side {
            position: relative;
            width: 50%;
            height: 100vh;
            padding-bottom: 36px;
            display: flex;

            @media (max-width:650px) {
                width: 100%;
                height: 50vh;
            }


            p.title {
                font-size: 4rem;
                color: #fff;
                margin: 0px;
                z-index: 5;
                position: absolute;


                @media (max-width:650px) {
                    font-size: 2rem;
                }

                a.name {
                    position: fixed;
                    left: 0px;
                    top: 0px;
                    text-decoration: none;
                    // color: #fff;
                    color: #ffffff;

                    display: flex;
                    align-items: center;
                    transition-duration: 1s;

                    span {
                        display: inline-block;
                        width: 62px;
                        height: 62px;
                        background-image: url(../img/index/Frame66.png);
                        background-size: cover;
                        margin-right: 12px;
                        max-width: 0px;
                        transition-duration: 1s;
                    }

                    &:hover {
                        color: #fcee21;

                        span {
                            max-width: 62px;
                        }
                    }

                }

            }

            .l {
                width: 62%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;

                @media (max-width:900px) {
                    width: 100%;
                }

                @media (max-width:650px) {
                    justify-content: space-around;
                    align-items: center;
                }

            }

            .r {
                width: 38%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @media (max-width:900px) {
                    display: none;
                }

            }
        }

        .info_card {
            position: static;
            z-index: 1;
            width: 100%;
            height: 38%;
            transition-duration: 1s;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(8px);
            border: rgba(255, 255, 255, 0.5) 1px solid;

            @media (max-width:650px) {
                height: 150px;
                width: 300px;
                position: absolute;
                top: -50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.397);
                // background-color: rgba(51, 51, 51, 0.356);
                // &::after{
                //     color: #fcee21;
                // }
            }

        }

        iframe {

            position: absolute;
            top: 0px;

            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: visible;

        }

        h1.self_intro {
            z-index: 3;
            width: 100%;
            font-size: 1.5rem;
            color: rgb(255, 255, 255);
            // background-color: rgba(255, 255, 255, 0.397);
            // backdrop-filter: blur(8px);

            border-radius: 8px;
            margin: 0px;
            margin-top: 8px;
            margin-bottom: 24px;
            font-weight: normal;
            padding: 1px;

            @media (max-width:650px) {
                font-size: 1.4rem;
                font-weight: 100;
            }
        }

        .btn_scroll_down {
            width: 8vw;
            height: 8vw;
            text-align: center;
            border-radius: 100%;

            background-color: #fcee21;
            // position: absolute;
            // left: 0px;
            // bottom: 16px;
            // transform: translate(-50%, 0%);
            z-index: 1;
            transition-duration: 0.3s;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            min-width: 60px;
            min-height: 60px;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #000;
                border-radius: 100%;
                transform: scale(0);
                transition-duration: 0.3s;
            }

            svg {
                z-index: 3;
                fill: #000;
                width: 24px;
                height: 24px;
            }

            &:hover {
                transform: scale(1.2);

                &:before {
                    transform: scale(1);
                }

                svg {
                    fill: #fff;
                }
            }
        }
    }

    section.skill {
        width: 100%;
        height: auto;
        background-color: #333;
    }
    .projects_title{
        background-color: #333;
        padding:3rem 1rem 2rem 15rem;
        display: flex;
        justify-content: flex-start;
        .title{
            font-size: 5rem;
            line-height: 1;
            color: #fff;
            margin: 0px;
        }
        @media (max-width:650px){
            justify-content: center;
            padding:3rem 1rem 2rem 1rem;
            .title{
                font-size: 2rem;
            }
        }
    }
    section.projects {
        width: 100%;
        background-color: #333;
        padding: 0rem 5%;
        display: flex;
        flex-wrap: wrap;

        @media (max-width:650px) {
            padding: 0rem 1rem;
        }

        .project {
            // border: solid 1px white;
            width: 50%;
            display: block;
            // border-radius: 10px;
            overflow: hidden;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 1rem 1rem 1rem 0rem;

            &:nth-child(4n+1) {
                align-items: flex-start;
            }
            .text{
                width: 100%;

            }

            figure {
                width: 100%;
                padding: 0px;
                display: block;
                margin: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition-duration: 0.5s;
                border-radius: 0.5rem;
                overflow: hidden;
                border: rgba(255, 255, 255, 0.5) 1px solid;
            }
            &:nth-child(4n+0) .text,
            &:nth-child(4n+1) .text,
            &:nth-child(4n+0) figure,
            &:nth-child(4n+1) figure {
                width: 80%;
            }

            .pj_img {
                width: 100%;
                height: auto;
                background-image: url(../img/projects/pj_liz.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }

            h3,
            p {
                font-size: 1.2rem;
                margin: 0px 0px 4px;
                color: #fff;
                font-weight: normal;
                line-height: 1;
                letter-spacing: 2px;
            }

            h3 {
                margin-top: 1rem;
            }

            p {
                opacity: 0.5;
            }

            &:hover {
                figure {
                    padding: 1rem;
                }

                .pj_img {}
            }

            @media (max-width:650px) {
                padding: 0rem;
                width: 100%;

                &:nth-child(4n+0) figure,
                &:nth-child(4n+1) figure {
                    width: 100%;
                }

            }
        }

    }

}