@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500;900&display=swap");
* {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d8d8d8;
  height: 1000px;
}

#wrapper-canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main section.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 36px;
}

main section.about_me .info_card {
  position: relative;
  z-index: 1;
  width: 50%;
  height: 50%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin: 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.397);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

main section.about_me .info_card h1 {
  text-align: center;
  border-bottom: #000 solid 1px;
  margin: 0px;
  padding: 16px 0px;
  font-weight: normal;
  letter-spacing: 8px;
  border-radius: 8px 8px 0px 0px;
  background-color: #e9e8e8;
}

main section.about_me .info_card::after {
  content: 'UI / UX Web\A Designer';
  white-space: pre-line;
  font-size: 4rem;
  font-weight: normal;
  line-height: -5%;
  position: absolute;
  top: 50%;
  right: -100px;
}

main section.about_me .info_card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

main section.about_me .info_card:hover::after {
  color: #fff;
}

main section.about_me iframe {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: visible;
}

main section.about_me h1 {
  z-index: 1;
}

main section.about_me .btn_scroll_down {
  width: 8vw;
  height: 8vw;
  text-align: center;
  border-radius: 100%;
  background-color: #fcee21;
  position: absolute;
  left: 50%;
  bottom: 16px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main section.about_me .btn_scroll_down:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main section.about_me .btn_scroll_down svg {
  z-index: 3;
  fill: #000;
  width: 24px;
  height: 24px;
}

main section.about_me .btn_scroll_down:hover {
  -webkit-transform: translate(-50%, 0%) scale(1.2);
          transform: translate(-50%, 0%) scale(1.2);
}

main section.about_me .btn_scroll_down:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main section.about_me .btn_scroll_down:hover svg {
  fill: #fff;
}
/*# sourceMappingURL=index.css.map */