@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500;900&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    // border: 1px solid #000;
}

body {
    margin: 0;
    background-color: #d8d8d8;

    height: 1000px;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // padding: 0px 5%;
    
    section.about_me {
        display: flex;

        background-color: #333;
        width: 100%;
        height: 100vh;
        side{
            position: relative;
            width: 50%;
            height: 100vh;
            padding-bottom: 36px;
            display: flex;

            p.title{
                font-size: 4rem;
                color: #fff;
                margin: 0px;
                z-index: 5;
                position: absolute;
                a{
                    text-decoration: none;
                    color: #fff;
                    &::after{
                        content: '';
                        position: absolute;
                        display: block;
                        right: 0px;
                        top: 0px;
                        background-image: url(../img/index/Frame66.png);
                        width: 50px;
                        height: 50px;
                        z-index: 5;
                    }
                }

            }
            .l{
                width: 62%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
            .r{
                width: 38%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
            
            }
        }
        .info_card {
            position: static;
            z-index: 1;
            width: 100%;
            height: 38%;
            transition-duration: 1s;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(8px);
            border: rgba(255, 255, 255, 0.5) 1px solid;

            &:hover {
                background-color: rgba(255, 255, 255, 0.397);
                // background-color: rgba(51, 51, 51, 0.356);
                // &::after{
                //     color: #fcee21;
                // }
            }
        }

        iframe {

            position: absolute;
            top: 0px;

            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: visible;

        }
        h1.self_intro{
            z-index: 3;
            width: 100%;
            font-size:1.5rem;
            color: rgb(255, 255, 255);
            // background-color: rgba(255, 255, 255, 0.397);
            // backdrop-filter: blur(8px);

            border-radius: 8px;
            margin: 0px;
            margin-top: 8px;
            margin-bottom: 8px;
            font-weight: normal;
            padding: 1px;
        }

        .btn_scroll_down {
            width: 8vw;
            height: 8vw;
            text-align: center;
            border-radius: 100%;

            background-color: #fcee21;
            // position: absolute;
            // left: 0px;
            // bottom: 16px;
            // transform: translate(-50%, 0%);
            z-index: 1;
            transition-duration: 0.3s;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #000;
                border-radius: 100%;
                transform: scale(0);
                transition-duration: 0.3s;
            }

            svg {
                z-index: 3;
                fill: #000;
                width: 24px;
                height: 24px;
            }

            &:hover {
                transform: scale(1.2);

                &:before {
                    transform: scale(1);
                }

                svg {
                    fill: #fff;
                }
            }
        }
    }
    section
}