@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500;900&display=swap");
* {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d8d8d8;
  height: 1000px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
}

main section.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  width: 100%;
  height: 100vh;
}

main section.about_me side {
  position: relative;
  width: 50%;
  height: 100vh;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.about_me side p.title {
  font-size: 4rem;
  color: #fff;
  margin: 0px;
  z-index: 5;
  position: absolute;
}

main section.about_me side p.title a.name {
  position: fixed;
  left: 0px;
  top: 0px;
  text-decoration: none;
  color: #fff;
}

main section.about_me side p.title a.name::after {
  content: '';
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  background-image: url(../img/index/Frame66.png);
  width: 50px;
  height: 50px;
  z-index: 5;
}

main section.about_me side .l {
  width: 62%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main section.about_me side .r {
  width: 38%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.about_me .info_card {
  position: static;
  z-index: 1;
  width: 100%;
  height: 38%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: rgba(255, 255, 255, 0.5) 1px solid;
}

main section.about_me .info_card:hover {
  background-color: rgba(255, 255, 255, 0.397);
}

main section.about_me iframe {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: visible;
}

main section.about_me h1.self_intro {
  z-index: 3;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  border-radius: 8px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: normal;
  padding: 1px;
}

main section.about_me .btn_scroll_down {
  width: 8vw;
  height: 8vw;
  text-align: center;
  border-radius: 100%;
  background-color: #fcee21;
  z-index: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main section.about_me .btn_scroll_down:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main section.about_me .btn_scroll_down svg {
  z-index: 3;
  fill: #000;
  width: 24px;
  height: 24px;
}

main section.about_me .btn_scroll_down:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section.about_me .btn_scroll_down:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main section.about_me .btn_scroll_down:hover svg {
  fill: #fff;
}

main section.skill {
  width: 100%;
  height: 30vh;
}
/*# sourceMappingURL=index.css.map */